
<div class="superpet_list">
    <ul class="superpet_links">
    <% @superpets.each do |superpet| %>
      <li>
        <h4><%= link_to superpet.name, "/superpets/#{superpet.id}" %></h4>
      </li>
    <% end %>
    </ul>
</div>
